.month_and_year {
  text-align: center;
  padding: 2;
}

.main-grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 60px;
}

.grid_element {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-auto-rows: 100px;
  gap: 10px;
}

.grid_element>div {
  border: 1px solid #0e0808;
  border-radius: 4px;
  padding: 8px;
  text-align: justify;
}

.remove-button {
  margin-left: 8px;
}

.event-header {
  margin-bottom: 4px;
}

.event-list {
  margin-top: 8px;
  margin-bottom: 20px;
}